.landing {
  margin: 50px auto;
  height: 1000px;
}

.linkContainer {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.formPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
