@layer overrides {
  .form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 18.75rem;
  }
  .label {
    color: #75a47f;
  }

  .inputField {
    font-size: 1.125rem;
    font-weight: bold;
  }
}
